<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Blazor Poker</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="test">
                <span class="oi oi-plus" aria-hidden="true"></span> Test
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="devtable">
                <span class="oi oi-plus" aria-hidden="true"></span>DEV - Table Work
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="devmediaqueries">
                <span class="oi oi-plus" aria-hidden="true"></span>DEV - Media Queries
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="devmatblazor">
                <span class="oi oi-plus" aria-hidden="true"></span>DEV - Material
            </NavLink>
        </li>

    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
